body{
	background-color: lightblue;
}
.container{
	padding-top: 10px;
}
h1{	
	color: white;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	padding-bottom: 20px;
}
#main-img{
	background-color: green;
	height: 480px; 
	width: 681px;
}
.img-container{
	position:relative;
	margin: 0 auto;
	height: 480px; 
	width: 681px;
}
.img-container .text{
	color: white;
	position: absolute;
	top: 80%;
	left: 5%;
	font-size: 40px;
	font-weight: bold;;
}
.centred-form{
	padding-top: 30px;
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
}
.fixed-menu{
	position: fixed;
	background-color: lightgray;
	width: 100%;
}